* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .hero {
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: #ccc;
    position: relative;
    text-transform: uppercase;
    font-family: "Amatic SC", sans-serif;
    letter-spacing: 17.5px;
  }
  
  .hero-one {
    top: 0;
    position: absolute;
    width: 60%;
    background-color: black;
    height: 100vh;
    clip-path: polygon(0 0, 60vw 0, 40vw 100vh, 0 100vh);
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(patrick.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .hero-two {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    background-color: green;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
      url(jimi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  
  .header-title {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .header-primary {
    font-size: 2em;
    display: block;
    font-weight: 700;
  }
  
  .absolute {
    position: absolute;
  }
  
  .flex {
    display: flex;
  }
  h1,
  h2,
  h3,
  p,
  a,
  ul {
    font-family: "Raleway", sans-serif;
    color: #000;
  }
  .header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    margin-top: 5px;
    height: 60px;
  }
  ul {
    list-style: none;
    text-align: center;
    padding-right: 40px;
  }
  li {
    display: inline-block;
    margin-right: 60px;
    position: relative;
    top: -100px;
  }
  li:last-child {
    margin-right: 0;
  }
  a {
    text-decoration: none;
  }
  .logo > img {
    width: 150px;
  }
  .score-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .box {
    border-radius: 20px;
    box-shadow: 0 0 0 #cccccc, 0 0 0 #000, 10px 10px 10px #cccccc inset,
      -10px -10px 10px #000 inset;
    animation: anime 3s;
    animation-fill-mode: forwards;
  }
  
  @keyframes anime {
    0% {
      width: 45px;
      height: 45px;
      background: #f0f0f0;
      box-shadow: 0 0 0 #cccccc, 0 0 0 #fff, 8px 8px 8px #cccccc inset,
        -8px -8px 8px #fff inset;
    }
  
    25% {
      width: 45px;
      height: 45px;
      background: #f8f8f8;
      box-shadow: 8px 8px 8px #cccccc, 8px 8px 8px #fff, 0 0 0 #cccccc inset,
        0 0 0 #fff inset;
    }
  
    50% {
      width: 45px;
      height: 150px;
      background: #f8f8f8;
      box-shadow: 8px 8px 8px #cccccc, 8px 8px 8px #fff, 0 0 0 #cccccc inset,
        0 0 0 #fff inset;
    }
  
    100% {
      width: 360px;
      height: 150px;
      background: #fafafa;
      box-shadow: 30px 30px 30px #cccccc, 0 0 0 #fff, 0 0 0 #cccccc inset,
        2px 2px 2px #fff inset;
    }
  }
  .social-icon > a > svg {
    width: 30px;
    height: 30px;
  }
  .logo {
    background: white;
    padding-left: 30px;
    padding-right: 15px;
    border-radius: 0 20px 20px 0;
    height: 48px;
    display: flex;
  }
  .social {
    background: white;
    padding-right: 2px;
    padding-left: 15px;
    border-radius: 20px 0 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    height: 48px;
  }
  .menu-item > a > svg {
    width: 18px;
    height: 18px;
    color: white;
  }
  .social-icon {
    margin-right: 20px;
  }
  .menu-item:hover > a > svg {
    display: none;
  }
  .menu-item > a > img {
    display: none;
  }
  .menu-item:hover > a > img {
    display: block;
    width: 30px;
    height: 30px;
  }
  
  .header > .nav {
    height: 65px;
    display: flex;
    align-items: center;
  }
  .menu-item {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  li.active > a > img {
    display: block!important;
    width: 30px;
    height: 30px;
  }
  li.active > a > svg {
    display: none!important;
  }
  